
.inputForm {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px 20px;
}

.input {
    padding: 10px 15px;
    background-color: #ebecef;
    border: none;
}

.input[type="text"] {
    min-width: 250px;
}

.input:focus {
    outline: none;
} 

.button {
    border: none;
    background-color: #ff643c;
    color: white;
    padding: 10px 25px;
    font-weight: 600;
    cursor: pointer;
} 

@media only screen and (max-width: 640px) {
    .input[type="text"] {
        border-radius: 20px;
        margin: 5px;
    }
    .input[type="date"] {
        border-radius: 20px;
        margin: 5px;
    }
    .button {
        border-radius: 20px;
        margin: 5px;
    }    
}

@media only screen and (min-width: 641px) and (max-width: 734px) {
    .input[type="text"] {
        border-radius: 20px 0 0 20px;
    }
    .input[type="date"] {
        border-radius: 0 20px 20px 0;
    }
    .button {
        border-radius: 20px;
        margin: 5px;
    }    
}
@media only screen and (min-width: 735px) {
    .input[type="text"] {
        border-radius: 20px 0 0 20px;
    }
    .button {
        border-radius: 0 20px 20px 0;
    } 
}